body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #2d3339;
  font-family: "Roboto", sans-serif;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

/*===================================================================================

       HERO-PARALLAX EFFECT 

=====================================================================================*/

.paralax {
  margin-top: -20%;
  margin-left: -20%;
  margin-right: -20%;
  width: 140%;
  height: 140%;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(200px);
  -ms-transform: perspective(200px);
  transform: perspective(200px);
  /*-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);*/
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .paralax {
    -webkit-transform: perspective(3000px);
    -ms-transform: perspective(3000px);
    transform: perspective(3000px);
    width: 100%;
    height: 120%;
    margin-left: 0px !important;
  }
}

@media screen and (min-width: 2000px) {
  .paralax {
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(200px);
    -moz-transform: perspective(200px);
    transform: perspective(200px);
    /*          -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);*/
  }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .poster {
    transition: 0.1s !important;
    -webkit-transition: 0.1s !important;
  }
}

.poster {
  border: 7px solid white;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(30, 30, 30, 0.6);
  -ms-box-shadow: 0 5px 25px rgba(30, 30, 30, 0.6);
  -webkit-box-shadow: 0px 5px 25px rgba(60, 60, 60, 0.6);
  overflow: hidden;
  /*-ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(450px);
  -ms-transform: perspective(450px);
          transform: perspective(450px);*/
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.poster .shine {
  transform: translateZ(200px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(
    315deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

.poster div[class*="layer-"] {
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 576px) {
  .poster div[class*="layer-"] {
    background-size: cover;
    background-position: center;
  }
}

.poster .layer-1 {
  background-image: url("../images/sky.png");
}

.poster .layer-2 {
  background-image: url("../images/rock.png");
}

.poster .layer-3 {
  background-image: url("../images/plane.png");
  margin-top: 200px;
}

/*===================================================================================

       END HERO PARALLAX 

=====================================================================================*/

/*===================================================================================

       START NAVIGATION 

=====================================================================================*/

.navbar {
  color: #202020 !important;
  width: 100%;
  transform: translateZ(100px);
  -webkit-transform: translateZ(200px);
  z-index: 9999;
  font-family: "Roboto", sans-serif;
  padding-left: 5% !important;
  padding-right: 5% !important;
  background-color: rgb(255, 255, 255) !important;
  /*border-bottom: 1px solid rgba(255, 255, 255, 1)*/
  box-shadow: 0 5px 10px rgba(30, 30, 30, 0.3);
  -ms-box-shadow: 0 5px 10px rgba(30, 30, 30, 0.3);
  -webkit-box-shadow: 0px 5px 10px rgba(60, 60, 60, 0.3);
}

.navbar li,
a {
  color: #202020 !important;
  font-weight: 700;
  font-size: 11px;
}

.navbar ul {
  padding-left: 13%;
}

.first {
  padding-left: 40px;
}

.second {
  padding-left: 40px;
}

#second {
  margin-right: 1px;
}

.navbar-brand img {
  height: 40px;
  margin-top: -4px;
  margin-bottom: -4px;
}

.fa-2x {
  vertical-align: middle;
}

.second:first-child {
  border-left: 1px solid rgba(40, 40, 40, 0.2);
}

/*===================================================================================

       END NAVIGATION

=====================================================================================*/

/*===================================================================================

       START HEADING TITLE SECTION

=====================================================================================*/

.titles {
  max-width: 30%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 4px;
}
.see-the-wrapper {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 3rem;
  border-radius: 4px;
}
.see-the {
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 15px;
  color: #202020;
  font-weight: 600;
}

/*===================================================================================

       END HEADING-TITLE SECTION

=====================================================================================*/

/*===================================================================================

       START ABOUT ME SECTION 

=====================================================================================*/

.about {
  margin-top: -3rem;
  position: relative;
  top: 0;
  background-color: white;
  padding: 2rem 0 3rem 0;
  box-shadow: 0px -10px 20px 20px rgb(255 255 255);
}

@media screen and (max-width: 768px) {
  .about {
    height: 1050px !important;
  }
  .titles {
    width: 80%;
  }
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.about-2 {
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(30, 30, 30, 0.8);
  -ms-box-shadow: 0 3px 15px rgba(30, 30, 30, 0.8);
  -webkit-box-shadow: 0px 3px 15px rgba(60, 60, 60, 0.8);
}

.left-me {
  border: 10px solid white;
  background-image: url(../images/about-me3.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

.right-me {
  color: white;
  background-color: #2d3339;
  /*           box-shadow: 0 5px 30px rgba(30, 30, 30, 0.2);
  -ms-box-shadow: 0 5px 30px rgba(30, 30, 30, 0.2);
  -webkit-box-shadow: 0px 5px 30px rgba(60, 60, 60, 0.2);*/
  height: 500px;
}

.john-doe {
  padding-bottom: 7px;
  position: relative;
}

h6 span {
  letter-spacing: 5px;
  font-family: "Roboto", sans-serif;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.my-story span {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.lead {
  font-size: 1rem;
}

/*===================================================================================

       END ABOUT ME SECTION 

=====================================================================================*/

/*===================================================================================

        CONTACT FORM 

=====================================================================================*/

.contact {
  position: relative;
  background-image: url(../images/day-1.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.contact:before,
.contact:after {
  display: inline-block;
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

.contact:before {
  display: inline-block;
  background-size: cover;
  z-index: 1;
  transition: opacity 2s;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  background-image: url(../images/day-1.jpg);
}

.contact:after {
  display: inline-block;
  background-size: cover;
  -moz-transition: opacity 2s;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  background-image: url(../images/night-1.jpg);
}

.contact:hover:before {
  opacity: 0;
  display: inline-block;
}

#contact-form {
  position: relative;
  z-index: 9998;
}

input,
textarea {
  border: 2px solid white !important;
  border-radius: 5px !important;
  background-color: transparent !important;
}

.btn-send {
  color: white !important;
}

form {
  color: white !important;
}

.contact-form {
  color: white !important;
}

#contact-me {
  z-index: 9998;
  position: relative;
  color: white;
  margin-bottom: 5rem;
}

#contact-me span {
  letter-spacing: 5px;
}

h3 {
  letter-spacing: 5px;
}

/*===================================================================================

       END CONTACT FORM 

=====================================================================================*/

/*===================================================================================

       START PORTFOLIO 

=====================================================================================*/
@media screen and (max-width: 1080px) {
  .navbar {
    background-color: white !important;
  }
  .second:first-child {
    border-left: none;
  }
  .nav-item a {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .navbar {
    background-color: white !important;
  }
  .second:first-child {
    border-left: none;
  }
  .titles {
    max-width: 80% !important;
  }
}

#portfolio {
  position: relative;
}

.buttons p:hover {
  color: white !important;
  background-color: gray !important;
}

.gallery-title {
  color: white;
  text-align: center;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.gallery-title span {
  padding-bottom: 7px;
}

.filter-button {
  font-size: 0.75rem;
  border-radius: none;
  text-align: center;
  color: #202020;
  margin-bottom: 2rem;
  background-color: white;
  letter-spacing: 5px;
  font-family: "Roboto", sans-serif;
  padding: 10px 25px 10px 25px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .filter-button {
    display: block !important;
  }
}

.btn-default:active .filter-button:active {
  background-color: orange;
  color: white;
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.thumbnail {
  overflow: hidden;
  width: 100%;
  height: 100%;
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(0.6);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0.6);
  /* Microsoft Edge and Firefox 35+ */
}

.thumbnail:hover {
  -webkit-filter: grayscale(0);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(0);
  /* Microsoft Edge and Firefox 35+ */
  filter: none;
  /* IE6-9 */
}

.portfolio {
  background-color: #2d3339;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail img:hover {
  transform: scale(2);
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
}

.portfolio-grid {
  padding-bottom: 3rem;
  max-width: 1200px;
}

/*FOOTER*/

.footer {
  background-color: #2d3339;
}

@media screen and (max-width: 576px) {
  h3 {
    font-size: 1.4rem !important;
  }
}

/*===================================================================================

       END PORTFOLIO 

=====================================================================================*/

/*===================================================================================

        START SERVICES

=====================================================================================*/

/*===================================================================================

        START SERVICES

=====================================================================================*/

.services {
  font-family: "Roboto", sans-serif;
}

.service-title {
  margin-bottom: 3rem;
}

h3 span {
  padding-bottom: 7px;
  margin-bottom: 3rem;
}
